doctype html 
html
  head
    title=title
    link(rel='stylesheet', href='/static/css/style.css')
    meta(name='viewport' content='windth=device-width, initial-scale=1')
  body
    .wrap
      .profile.hide
        a(href='#').menu
          span SHIPS
      .information
        .information__heading
          span.information__heading__tag= ship
        h1.information__name
          | #{ship}
        h2.information__name
          small=manufacturer
        p.information__description= content
        .breadcrumb
          ul 
            li 
              a(href="asp-explorer") ASP EXPLORER | 
              a(href="imperial-clipper") IMPERIAL CLIPPER |  
              a(href="krait-mk2") KRAIT MKII 

